body{
    background-image : url(koi.webp), url(water.webp);
    background-size: 100% auto;
    background-repeat: no-repeat, repeat;
    letter-spacing: 1px;    
    line-height: 1.1;
    text-align: left;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    padding:0%;
}

@font-face {
    font-family: myfont2;
    src: url(PixelifySans-VariableFont_wght.ttf);
}


.longerspace{
        margin-top: 300px;
        margin-bottom: 20px;
        text-align: left;
        margin-left: 20px;
}

.Projects{

    h3{
        font-size: 50px;
        font-family: Andale Mono, monospace;
        font-weight: bold;
        text-shadow: none;
        color: rgb(71, 123, 158);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 17px;

    }

    p{
        font-family: Andale Mono, monospace;
        font-weight: 400;
        color: rgb(71, 123, 158);
        text-shadow: none;
        text-align:left;

    }
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 15s linear infinite;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}






.boxes1 {
     width: 400px;
     height: 450px;
            margin: 20px;
            background:rgb(250, 239, 226);
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 30px;
            margin-right: 5px;
            margin-left: 5px;
    min-width: 400px;
    flex-shrink: 0;
    transition: ease-in-out


        
        
}
.boxes1:hover{
    width: 450px;
    transition: ease-in-out 0.3s;
}


h1{
    font-size: 250px;
    font-family: Andale Mono, monospace;
    font-weight: 800;
    letter-spacing: 0;
    color:rgb(236, 223, 206);
    text-shadow: 10px 10px #477894;
    line-height: 0.01;
    margin-top: 250px;
    transition: ease-out 0.3s;
    align: right;
    
}
h1:hover{
    cursor: default;
    font-size: 285px;
    transition: ease-in-out 0.3s;
}

h2{
    font-size: 100px;
    font-family: Andale Mono, monospace;
    font-weight: 800;
    letter-spacing: -1mm;
    color:rgb(236, 223, 206);
    text-shadow: 5px 5px #477894;
    line-height: 0.7;
    text-align: left;
}

h3{
    font-size: 75px;
    font-family: Andale Mono, monospace;
    font-weight: 800;
     letter-spacing: 0mm;
    color:rgb(236, 223, 206);
    text-shadow: 5px 5px #477894;
    text-align: left;
}
h4{
    font-size: 30px;
    font-family: Andale Mono, monospace;
    font-weight: 800;
    letter-spacing: 0mm;
    color:rgb(236, 223, 206);
    text-shadow: 5px 5px #477894;
    text-align: right;

}

p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    text-shadow: 3px 3px #477894;

}

button {
    background-color: antiquewhite; 
    border: none;
    color:  #477894 ;
    font-weight: 400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: Andale Mono, monospace;
    border-radius: 25px;
}

.interests{
    button{
        width: 350px;
        height: 350px;
    }

    
}

.interestsandhobbies{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-items: center;
    

    button {
        width: 700px;
        height: 400px;
        margin-left: 30px;
        margin-top: 50px;
        transition: ease-out 0.3s;
        font-family: Andale Mono, monospace;
    }

    button:hover{
        width: 750px;
        height: 450px;
        transition: ease-in 0.3s;
    }


}

.tools{
    h2{
        margin-bottom: 50px;
        text-align: center;
        margin-top: 20px;
        color:#477894;
        text-shadow: none;
    }

    p{
        color:#477894;
        text-shadow: none;  
        font-family:Andale Mono, monospace; 
    }
    
    padding: 20px;

    button{
        width: 200px;
        height:200px;
        margin-bottom: 20px;
        margin-right: 15px;
        transition: ease-out 0.2s;
    }

    button img{
        width: 100%;
        height: 90%;
        position: center;
    }

    button:hover{
        width: 220px;
        height: 220px;
        transition: ease-in-out 0.2s;
    }

    background-color: antiquewhite ;
    margin-top: 50px;
    margin-bottom: 90px;
}

.interestsbody{
    background-image: url(papieer.jpg);
    background-repeat: repeat;
    background-size: 100% auto;


    h1{
        font-family: myfont2;
        text-align: center;
        font-size: 200px;
        color: #2B4352;
        text-shadow: none;
        font-weight: 1000;
    }

    h1:hover{
    cursor: default;
    font-size: 235px;
    transition: ease-in-out 0.3s;
    }

    h2{
        font-family: myfont2;

    }

    div{
        margin-top: 27%;
        margin-bottom:50%;
    }

    button{
        background-color: transparent;
        transition: ease-out 0.2s;
    }

    button:hover{
        transform: Scale(1.2);
        transition: ease-in-out 0.3s;
    }
    
}

.button1{
    position: absolute;
    right: 10px;
    top:15px;

}

.playbuttons{
    button:hover{
        background-color:#e7d9b8;

    }
    button:focus{
        background-color:#477894;
    }

    img{
        max-width: 60px;
    }

    button{
        background-color: transparent;
    }
}


    
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }


.projectcontainer{
    overflow: hidden;
    
    img{
        max-width: 80px;
        color: #477894;
    }
}

.projectcontainer:hover .Projects {
    animation-play-state: paused;
}